name: deploy-test

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Project
        run: |
          bash ./package.sh
          version=$(cat pom.xml | grep -oPm1 '(?<=<version>).*?(?=</version>)')
          echo "version=v$version" >> $GITHUB_ENV
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: ./ani-rss-application/target/ani-rss-jar-with-dependencies.jar
      - name: Set image repositories
        run: |
          owner_lower=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "GHCR_IMAGE_REPO=ghcr.io/${owner_lower}/ani-rss" >> $GITHUB_ENV
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (temurin)
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./docker/Dockerfile
          push: true
          tags: ${{ env.GHCR_IMAGE_REPO }}:test
      - name: Build and push Docker image (openj9)
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./docker/Dockerfile-openj9
          push: true
          tags: ${{ env.GHCR_IMAGE_REPO }}:test-openj9
           
